# Your workflow name.
name: Build & Deploy

# Run on push to any branch.
on:
  push

# Your workflows jobs.
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build -c Release
      # - name: Test
        # run: dotnet test -c Release --no-build
      - name: Publish
        run: dotnet publish -c Release -o app/publish
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: production-build
          path: app/publish
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop'
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Download production artifacts
        uses: actions/download-artifact@v3
        with:
          name: production-build
          path: Pantry.Api/app/publish
      - name: Log in to Docker Hub
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4.0.1
        with:
          images: mbi050643/pantry
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v3.1.1
        with:
          file: Pantry.Api/Dockerfile
          push: true
          no-cache: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}